[Desktop Entry]
Type=Application
Name=Dwarf Fortress
Categories=Game;
Icon=linux-dwarf-pack
Exec=linux-dwarf-pack.sh
StartupWMClass=dwarfort
Terminal=false
